<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        xmlns:android = "http://schemas.android.com/apk/res/android"
        id        = "com.osram.application"
        version   = "1.0.0">

    <name>Serpentine Calculator Tool by OSRAM</name>

    <description>
        Calculation app that contains 8 commonly used equations and product detail information containing data about various products.
    </description>

    <author href="http://www.blackboardco.com/" email="osram.application@gmail.com">
        Blackboard and Jae Lee
    </author>

    <!-- Define the main entry-point to the application -->
    <content src="index.html" />

    <!-- Customize your app and platform with the preference element. -->
    <preference name="DisallowOverscroll"           value="true" />
    <preference name="HideKeyboardFormAccessoryBar" value="true"/>
    <preference name="android-minSdkVersion"        value="14" />
    <preference name="Orientation"                  value="portrait" />
    <preference name="KeyboardShrinksView"          value="false" />
    <preference name="BackgroundColor"              value="0xffffffff" /><!--value="0xff0ff6600"--> 
    <!-- <preference name="phonegap-version"             value="cli-6.3.0" /> -->

    <!-- Plugins -->
    <!-- Core plugins -->
    <plugin name="cordova-plugin-device"                     source="npm" spec="~1.1.1" />
    <plugin name="cordova-plugin-device-motion"              source="npm" spec="~1.2.0" />
    <plugin name="cordova-plugin-splashscreen"               source="npm" spec="~3.2.1" />
    <plugin name="cordova-plugin-statusbar"                  source="npm" spec="~2.1.2" />
    <plugin name="cordova-plugin-vibration"                  source="npm" spec="~2.1.0" />
    <plugin name="cordova-plugin-whitelist"                  source="npm" spec="~1.2.1" />
    <plugin name="cordova-plugin-dialogs"                    source="npm" spec="~1.3.1" />
    <plugin name="com.telerik.plugins.nativepagetransitions" source="npm" />

    
    <icon src="icon.png"/>
    <!-- Define app icon and splashscreen for each platform. -->
    <platform name="android">
    </platform>

    <platform name="ios">
    </platform>
</widget>
